{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Édition d'une relation' {% endblock %}

{% block body %}

<h1>Éditer la relation entre {{relation.knower}} et {{relation.knowee}} <small>(revenir à la version du : 
	 <form id="revert" action="{{ path('relation_revert', { 'id': relation.id }) }}" method="post" {{ form_enctype(form) }}>
		<select name="version">
			{% for log in logs %}
					<option value="{{log.version}}">{{log.loggedAt.date|date("d/m/Y H:i")}}</option>}
			{% endfor %}
		</select>
		 <input class="button flat green" type="submit" name="revert" value="Appliquer">
		 )
	</form>
</small></h1>

<form action="{{ path('relation_update', { 'id': relation.id }) }}" method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-10 medium-3 columns">
						{{ form_widget(form.knower)}}
					</div>
					<div class="small-2 medium-1 columns">
							<span class="form_text">est</span>
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_widget(form.type)}}
					</div>
					 <div class="small-2 medium-1 columns">
							<span class="form_text">de</span>
					</div>
					<div class="small-10 medium-3 columns">
						{{ form_widget(form.knowee)}}
					</div>
					<div class="small-12 columns">
						{{ form_row(form.detail) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	<input class="button flat green" type="submit" value="Éditer"/>
</form>

{% endblock %}
