{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Création d'une relation' {% endblock %}

{% block body %}

<h1>Créer une nouvelle relation</h1>

<form action="{{ path('create_relation') }}" method="post" {{ form_enctype(form) }}>
  <div class="row block">
    <h3 class="twelve columns">La base</h3>
    <div class="three mobile-four columns">
      {{ form_widget(form.knower)}}
    </div>
    <div class="one mobile-four columns">
        <span class="form_text">est</span>
    </div>
    <div class="four mobile-four columns">
      {{ form_widget(form.type)}}
    </div>
     <div class="one mobile-four columns">
        <span class="form_text">de</span>
    </div>
    <div class="three mobile-four columns">
      {{ form_widget(form.knowee)}}
    </div>
    <div class="twelve columns">
      {{ form_row(form.detail) }}
    </div>
  </div>

  {{ form_row(form._token) }}
  <input class="button green" type="submit" value="Créer"/>
</form>

{% endblock %}
