{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Relation entre {{relation.knower}} et {{relation.knowee}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		Relation entre {{relation.knower}} et {{relation.knowee}} 
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('relation_edit', {'id': relation.id}) }}">Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Description
				</h3>
			</div>
			{% autoescape false %}
				<div>{{ relation.knower}} est {{ relation.type}} de  {{ relation.knowee}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<!-- Detail -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Détail
				</h3>
			</div>
			{% autoescape false %}
				<div>{{ relation.detail }}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

{% endblock body %}