{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Données {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 columns">
		Les données
	</h1>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Informations</th>
			<th>Intrigue</th>
			<th>Nombre de joueurs informés</th>
			<th>Documents concernés</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for data in datas %}
			<tr>
				<td>{{data.number}}</td>
				<td><a href="{{path('data_by_id', {'id': data.id})}}">{{data.information}}</a></td>
				<td><a href="{{path('intrigue_by_id', {'id': data.plot.intrigue.id})}}">{{data.plot.intrigue}}</a></td>
				<td> {{data.knowers|length}}</td>
				<td>
					{% for document in data.documents %}
						<a href="{{path('object_by_id', {'id': document.id}) }}">{{document.name}}</a>
					{% endfor %}
				</td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{data.id}}" aria-controls="drop-actions-{{data.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{data.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('data_edit', { 'id': data.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('data_delete', { 'id': data.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}
