{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Donnée {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		Donnée n°{{data.number}}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('data_edit', {'id': data.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
	</div>
</div>

<!-- Information -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Information</h3>
			</div>
			{% autoescape false %}
				<div>{{data.information}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

{% if data.plot %}
<!-- intrigue -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Intrigue</h3>
			</div>
			{% autoescape false %}
				<div><a href="{{ path('intrigue_by_id', {'id': data.plot.intrigue.id}) }}" title="">{{data.plot.intrigue}}</a></div>
			{% endautoescape %}
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Qui la connait <small>({{data.knowers|length}} personnages)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Type</th>
						<th>Numero</th>
						<th>Nom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for perso in data.knowers %}
					<tr>
						<td><a title="Voir" href="{{ path('perso_type_by_id', { 'id': perso.type.id }) }}">{{ perso.type }}</a></td>
						<td>{{ perso.number }}</td>
						<td><a title="Voir" href="{{ path('perso_by_id', { 'id': perso.id }) }}">{{ perso.name }}</a></td>
						<td>
							<button href="#" data-dropdown="drop-actions-perso-{{perso.id}}" aria-controls="drop-actions-perso-{{perso.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
							<ul id="drop-actions-perso-{{perso.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
								<li><a class="green-font" title="Éditer" href="{{ path('perso_edit', { 'id': perso.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
								<li><a class="red-font" title="Retirer" href="{{ path('data_remove_knower', { 'dataId': data.id, 'knowerId': perso.id}) }}"><i class="fa fa-minus-circle"></i> Retirer</a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="twelve columns">Où est-elle disponible <small>({{data.documents|length}} documents)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Catégorie</th>
						<th>Nom</th>
						<th>Possesseur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for object in data.documents %}
					<tr>
						<td><a title="Voir" href="{{ path('object_type_by_id', { 'id': object.id }) }}">{{ object.type }}</a></td>
						<td><a title="Voir" href="{{ path('object_by_id', { 'id': object.type.id }) }}">{{ object.name }}</a></td>
						<td>{{ object.owner }}</td>
						<td>
							<button href="#" data-dropdown="drop-actions-object-{{object.id}}" aria-controls="drop-actions-object-{{object.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
							<ul id="drop-actions-object-{{object.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
								<li><a class="green-font" title="Éditer" href="{{ path('object_edit', { 'id': object.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
								<li><a class="red-font" title="Retirer" href="{{ path('data_remove_document', { 'dataId': data.id, 'documentId': object.id}) }}"><i class="fa fa-minus-circle"></i> Retirer</a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock body %}