<html>
  <head></head>
  <body>
    Salut {{commentee}},

    {{commenter}} vient de répondre à votre commentaire sur <a href="{{url('intrigue_by_id', {'id': comment.intrigue.id})}}">{{comment.intrigue}}</a>.<br><br>
    <blockquote>
      {% autoescape false %}
        {{comment.comment}}
      {% endautoescape %}
    </blockquote>

    Signé Le Robot de Jeff,
  </body>
</html>
