<html>
  <head></head>
  <body>
    Salut {{commentee}},

    {{commenter}} vient de laisser un commentaire sur <a href="{{url('perso_by_id', {'id': comment.perso.id})}}">{{comment.perso}}</a>.<br><br>
    <blockquote>
      {% autoescape false %}
        {{comment.comment}}
      {% endautoescape %}
    </blockquote>

    Signé Le Robot de Jeff,
  </body>
</html>
