<table class="records_list datatable">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Informations</th>
			<th>Joueurs informés</th>
			<th>Documents concernés</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for data in intrigue.plot.datas %}
			<tr>
				<td>{{data.number}}</td>
				<td><a href="{{path('data_by_id', {'id': data.id})}}">{{data.information}}</a></td>
				<td>
					{% for perso in data.knowers %}
						<a href="{{path('perso_by_id', {'id': perso.id}) }}">{{perso.name}}</a>/
					{% endfor %}
				</td>
				<td>
					{% for document in data.documents %}
						<a href="{{path('object_by_id', {'id': document.id}) }}">{{document.name}}</a>
					{% endfor %}
				</td>
				<td>
					<button href="#" data-dropdown="drop-actions-data-{{data.id}}" aria-controls="drop-actions-data-{{data.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-data-{{data.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('data_edit', { 'id': data.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('data_delete', { 'id': data.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
