{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Intrigues {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les intrigues
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_intrigue') }}"><i class="fa fa-plus"></i> Créer une intrigue</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th rowspan="2">Type</th>
			<th rowspan="2">Numéro</th>
			<th rowspan="2">Nom</th>
			<th colspan="2">Nombre d'implications</th>
			<th rowspan="2">Statut</th>
			<th rowspan="2">Scénariste</th>
			<th rowspan="2">Actions</th>
		</tr>
		<tr>
			<th>Toutes</th>
			<th>Actives</th>
		</tr>
	</thead>
	<tbody>
		{% for intrigue in intrigues %}
			<tr>
				<td><a title="Voir" href="{{ path('intrigue_type_by_id', { 'id': intrigue.type.id }) }}">{{ intrigue.type }}</a></td>
				<td>{{ intrigue.number }}</td>
				<td><a title="Voir" href="{{ path('intrigue_by_id', { 'id': intrigue.id }) }}">{{ intrigue.name }}</a></td>
				<td>{{ intrigue.allPlayers|length }}</td>
				<td>{{ intrigue.involvedPlayers|length }}</td>
				<td>{{ intrigue.fullStatus }}</td>
				<td><a title="Voir" href="{{ path('user_by_name', { 'username': intrigue.writer.username }) }}">{{ intrigue.writer }}</a></td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{intrigue.id}}" aria-controls="drop-actions-{{intrigue.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{intrigue.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('intrigue_edit', { 'id': intrigue.id }) }}"><i class="fa fa-edit"></i> Editer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('intrigue_delete', { 'id': intrigue.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
