{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Intrigues {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		Les intrigues
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_intrigue') }}">Créer une intrigue</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Type</th>
			<th>Numéro</th>
			<th>Nom</th>
			<th>Nombre d'implications</th>
			<th>Statut</th>
			<th>Scénariste</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for intrigue in intrigues %}
			<tr>
				<td><a title="Voir" href="{{ path('intrigue_type_by_id', { 'id': intrigue.type.id }) }}">{{ intrigue.type }}</a></td>
				<td>{{ intrigue.number }}</td>
				<td><a title="Voir" href="{{ path('intrigue_by_id', { 'id': intrigue.id }) }}">{{ intrigue.name }}</a></td>
				<td>{{ intrigue.implications|length }}</td>
				<td>{{ intrigue.fullStatus }}</td>
				<td><a title="Voir" href="{{ path('user_by_name', { 'username': intrigue.writer.username }) }}">{{ intrigue.writer }}</a></td>
				<td>
					<ul class="button-group">
						<li><a class="button flat green" title="Éditer" href="{{ path('intrigue_edit', { 'id': intrigue.id }) }}"><i class="fa fa-edit"></i></a></li>
						<li><a class="button flat red" title="Supprimer" href="{{ path('intrigue_delete', { 'id': intrigue.id }) }}"><i class="fa fa-times-circle"></i></a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
