<table class="records_list datatable">
	<thead>
		<tr>
			<th>Catégorie</th>
			<th>Nom</th>
			<th>Possesseur</th>
			<th>Référent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for object in intrigue.objects %}
			<tr>
				<td><a title="Voir" href="{{ path('object_type_by_id', { 'id': object.id }) }}">{{object.type}}</a></td>
				<td><a title="Voir" href="{{ path('object_by_id', { 'id': object.id }) }}">{{object.name}}</a></td>
				<td>{{object.origin}}</td>
				<td>{{object.creator}}</td>
				<td>
					<ul class="button-group">
						<li><a class="button flat green" title="Éditer" href="{{ path('object_edit', { 'id': object.id }) }}"><i class="fa fa-edit"></i></a></li>
						<li><a class="button flat red" title="Enlever" href="{{ path('intrigue_remove_object', { 'intrigueId': intrigue.id, 'objectId': object.id }) }}"><i class="fa fa-minus-circle"></i></a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>