<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Timing</th>
			<th>Parents</th>
			<th>Référent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for sceno in intrigue.scenos %}
		<tr>
			<td><a title="Voir" href="{{ path('sceno_by_id', { 'id': sceno.id }) }}">{{ sceno.name }}</a></td>
			<td>{{ sceno.fullTiming }}</td>
			<td>
				{% for parent in sceno.parents %}
					<a title="Voir" href="{{ path('sceno_by_id', { 'id': parent.id }) }}">{{parent.name}}</a>/
				{% endfor %}
			</td>
			<td>{{ sceno.creator }}</td>
			<td>
				<button href="#" data-dropdown="drop-actions-sceno-{{sceno.id}}" aria-controls="drop-actions-sceno-{{sceno.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
				<ul id="drop-actions-sceno-{{sceno.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
					<li><a class="green-font" title="Éditer" href="{{ path('sceno_edit', { 'id': sceno.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
					<li><a class="red-font" title="Supprimer" href="{{ path('sceno_delete', { 'id': sceno.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>