{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ intrigue.name}} {% endblock %}

{% block body %}
<script type="text/javascript">
	// Called when the Visualization API is loaded.
	function drawVisualization() {
		// Create and populate a data table.
		var data = [];

		{% for event in intrigue.events %}
			data.push({
				'start': new Date({{event.startDate|date('Y')}}, {{event.startDate|date('n')-1}}, {{event.startDate|date('d')}}),
				{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %}
					'end': new Date({{event.endDate|date('Y')}}, {{event.endDate|date('n')-1}}, {{event.endDate|date('d')}}),
				{% endif %}
				'content': '<a href="{{path('event_by_id', {'id': event.id}) }}">{{event.name}}</a>',
			});
		{% endfor %}

		// specify options
		options = {
			"width":  "100%",
			"height": "150px",
			"style": "box", // optional
			"showCurrentTime": "false",
			"showNavigation": "true",
		}; 
		// Instantiate our timeline object.
		var timeline = new links.Timeline(document.getElementById('event-timeline'));

		// Draw our timeline with the created data and options
		timeline.draw(data, options);
	}
</script>

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ intrigue }} <small>assigné à {{intrigue.writer.username}}</small>
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green"  href="{{ path('intrigue_edit', {'id': intrigue.id}) }}">Modifier</a>
	</div>
</div>

<div class="row page-header hide-for-small">
	<h3 class="small-6 medium-9 columns">Commentaires</h3>
	<div class="small-6 medium-3 columns">
		<a class="button flat blue" href="{{ path('create_intrigue_comment', {'intrigueId': intrigue.id}) }}">Ajouter un commentaire</a>
	</div>
</div>
{{ include('UrbicandeIntrigueBundle:IntrigueComment:commentList.html.twig') }}

<!--- Synopsis -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Synopis</h3>
			</div>
			<div class="row">
				<div class="small-12 medium-6 xlarge-3 columns">
					<b>Contexte</b> : {% autoescape false %}{{intrigue.synopsis.context}}{% endautoescape %} <br>
				</div>
				<div class="small-12 medium-6 xlarge-3 columns">
					<b>Jeu</b> : {% autoescape false %}{{intrigue.synopsis.ingame}}{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
</div>

<!--- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Description de l'intrigue</h3>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<b>Ouvertures de jeu</b> : {% autoescape false %}{{intrigue.plot.ingame}}{% endautoescape %} <br>
				</div>
				<div class="small-12 medium-6 columns">
					<b>Intentions et motivations</b> : {% autoescape false %}{{intrigue.plot.motive}}{% endautoescape %}
				</div>
				<div class="small-12 columns">
					<b>Obstacles et resolutions</b> : {% autoescape false %}{{intrigue.plot.resolution}}{% endautoescape %} <br>
				</div>
				<div class="small-12 columns">
					<b>Description narrative</b> : {% autoescape false %}{{intrigue.plot.description}}{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Implications -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Protagonistes</h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% include 'UrbicandeIntrigueBundle:Intrigue:implicationTable.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Implication détails -->
<div class="row">
	<div class="small-12 columns">
		<div class="header row">
			<h3 class="small-6 medium-8 columns">
				Implication
			</h3>
		</div>
	</div>
	{% for implication in intrigue.implications %}
		<div class="small-12 column">
			<div class="card plot">
				<div class="header row">
					<h4 class="small-12 columns">
						{{implication}}
						<a class="green-font" href="{{ path('implication_edit', {'id': implication.id}) }}"><i class="fa fa-edit"></i></a>
						<a class="red-font" href="{{ path('implication_delete', {'id': implication.id}) }}"><i class="fa fa-times-circle"></i></a>
					</h4>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<b>Degré</b> : {{implication.degree}} <br>
						<b>Thème</b> : {{implication.theme}}<br><br>
					</div>
					<div class="small-12 medium-6 columns">
						<b>Implication</b> : {{implication.synopsis}}
					</div>
					{% autoescape false %}
					<div class="small-12 columns">
						<b>Informations de rédaction</b> : <p>{{implication.description}}</p>
						<b>Informations pour le personnage</b> : <p>{{implication.information}}</p>
						{% if implication.player and implication.player.type.name == 'PNJ' %}
							<b>Objectifs PNJ</b> :<p> {{implication.objective}}</p>
						{% endif %}
					</div>
					{% endautoescape %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<!--- Chronologie -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-10 columns">Chronologie</h3>
				<div class="small-6 medium-4 large-2 columns">
					<a class="button flat blue"  href="{{path('create_event', {'intrigue': intrigue.id})}}">
						Créer
					</a>
				</div>
			</div>
			<div id="event-timeline"></div>
		</div>
	</div>
</div>

<!-- Données -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Données objectives</h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% include 'UrbicandeIntrigueBundle:Intrigue:dataTable.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Objets -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Objets</h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% include 'UrbicandeIntrigueBundle:Intrigue:objectTable.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Règles -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Règles</h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% include 'UrbicandeIntrigueBundle:Intrigue:ruleTable.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>

<!--- Scénographie -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-10 columns">Scénographie</h3>
				<div class="small-6 medium-4 large-2 columns">
					<a class="button flat blue" href="{{path('create_sceno', {'intrigue': intrigue.id})}}">Créer</a>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{% include 'UrbicandeIntrigueBundle:Intrigue:scenoTable.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock body %}