<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Urbicande BDD{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block stylesheets %}
			<link href="{{ asset('/css/normalize.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/foundation.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/chosen.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/dataTables.colReorder.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/dataTables.tableTools.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/dataTables.responsive.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/dataTables.foundation.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/timeline.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/fullcalendar.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('/css/redactor.css') }}" type="text/css" rel="stylesheet" />
			<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<script src="{{ asset('/js/vendor/modernizr.js') }}"></script>
	</head>
	<body class="container">
		{% if is_granted("ROLE_USER") %}
			<div class="sticky contain-to-grid">
				<nav class="top-bar" data-topbar role="navigation" data-options="{back_text: 'Retour'}">
					<ul class="title-area">
						<li class="name"><h1><a href="{{ path('Home')}}">Accueil</a></h1></li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul>
					<section class="top-bar-section">
						<ul class="left">
							<li class="has-dropdown">
								<a href="{{path('perso_list')}}">Personnages</a>
								<ul class="dropdown">
									<li><a href="{{path('groupe_list')}}">Groupes</a></li>
									<li><a href="{{path('relation_list')}}">Relations</a></li>
									<li><a href="{{path('perso_type_list')}}">Types de personnage</a></li>
									<li><a href="{{path('relation_type_list')}}">Types de relation</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="{{path('intrigue_list')}}">Intrigues</a>
								<ul class="dropdown">
									<li><a href="{{path('implication_list')}}">Implications</a></li>
									<li><a href="{{path('intrigue_type_list')}}">Types d'intrigue</a></li>
								</ul>
							</li>
							<li class="has-dropdown hide-for-medium">
								<a href="#">Informations</a>
								<ul class="dropdown">
									<li><a href="{{path('data_list')}}">Données</a></li>
									<li><a href="{{path('object_list')}}">Objets</a></li>
									<li><a href="{{path('object_type_list')}}">Types d'objet</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="{{path('rule_list')}}">Règles</a>
								<ul class="dropdown">
									<li><a href="{{path('skill_list')}}">Compétences</a></li>
									<li><a href="{{path('level_list')}}">Niveaux</a></li>
								</ul>
							</li>
							<li class="has-dropdown hide-for-medium">
								<a href="{{path('event_list')}}">Chronologie</a>
								<ul class="dropdown">
									<li><a href="{{path('chrono_perso')}}">Chronologie des personnages</a></li>
									<li><a href="{{path('chrono_groupe')}}">Chronologie des groupes</a></li>
									<li><a href="{{path('chrono_intrigue')}}">Chronologie des intrigues</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Evenementiel</a>
								<ul class="dropdown">
									<li><a href="{{path('sceno_list')}}">Scénographies</a></li>
									<li><a href="{{path('musique_list')}}">Musiques</a></li>
								</ul>
							</li>
							<li>
								<a href="{{path('background_list')}}">Background</a>
							</li>
						</ul>

						<ul class="right">
							<li class="has-dropdown hide-for-medium">
								<a href="#">Paramètres</a>
								<ul class="dropdown">
									<li><a href="{{path('user_list')}}">Scénaristes</a></li>
									<li><a href="{{path('log')}}">Logs</a></li>
									<li><a href="{{path('stats')}}">Statistiques</a></li>
									<li><a href="{{path('user_edit', {'id': app.user.id})}}">Compte</a></li>
									<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
								</ul>
							</li>
						</ul>
					</section>
				</nav>
			</div>
		{% endif %}  

		<div class="row flash">
			{% for flashMessage in app.session.flashbag.get('create') %}
				<div class="alert-box success">
					{{ flashMessage }}
					<a href="" class="close">&times;</a>
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('update') %}
				<div class="alert-box">
					{{ flashMessage }}
					<a href="" class="close">&times;</a>
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('delete') %}
				<div class="alert-box alert">
					{{ flashMessage }}
					<a href="" class="close">&times;</a>
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('revert') %}
				<div class="alert-box secondary">
					{{ flashMessage }}
					<a href="" class="close">&times;</a>
				</div>
			{% endfor %}
		</div>

		<div class="row" id="site">
			{% block body %}
			{% endblock %}
			<footer class="small-6 medium-3 large-1 small-centered column">
				<a href="{{path('about')}}">A propos</a>
				<a href="mailto:jeff@urbicande.fr?Subject=Feedback%20BDD">Contact</a>
			</footer>
		</div>

		{% block javascripts %}
			<script type="text/javascript" src="http://www.google.com/jsapi"></script>
			<script src="{{ asset('/js/vendor/jquery.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/vendor/moment.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/foundation.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/chosen.jquery.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/dataTables.colReorder.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/dataTables.responsive.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/timeline.min.js') }}" type="text/javascript"></script>    
			<script src="{{ asset('/js/timeline.locales.js') }}" type="text/javascript"></script>    
			<script src="{{ asset('/js/fullcalendar.min.js') }}" type="text/javascript"></script>    
			<script src="{{ asset('/js/sisyphus.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/redactor.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/redactor.fr.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/redactor.fullscreen.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/canvasjs.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/jit.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('/js/ajax.js') }}" type="text/javascript"></script>
			<script>
				$(document).foundation({
					topbar : {
						 custom_back_text: true,
						 back_text: 'Retour'
					},
					equalizer : {
						// Specify if Equalizer should make elements equal height once they become stacked.
						equalize_on_stack: true
					}
				});
			</script>
		{% endblock %}
	</body>
</html>
