{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Niveaux de Personnage {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		Les niveaux de personnage
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_level') }}">Créer un niveau</a>
	</div>
</div>


<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Nombre de personnages</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for level in levels %}
			<tr>
				<td><a title="Voir" href="{{ path('level_by_id', { 'id': level.id }) }}">{{ level.name }}</a></td>
				<td>{% autoescape false %}{{ level.description|slice(0,60) }}{% endautoescape %}</td>
				<td>{{ level.players|length }}</td>
				<td>
					<ul class="button-group">
						<li><a class="button flat green" title="Éditer" href="{{ path('level_edit', { 'id': level.id }) }}"><i class="fa fa-edit"></i></a></li>
						<li><a class="button flat red" title="Supprimer" href="{{ path('level_delete', { 'id': level.id }) }}"><i class="fa fa-times-circle"></i></a></li>
					</ul>
				</td>
			</tr>
		</a>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
