{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Création d'un niveau{% endblock %}

{% block body %}

<h1>Créer un nouveau niveau</h1>

<form action="{{ path('create_level') }}" method="post" {{ form_enctype(form) }}>
  <div class="row block">
    <h3 class="twelve columns">La base</h3>
    <div class="six mobile-two columns">
      {{ form_row(form.name)}}
    </div>
    <div class="six mobile-two columns">
      {{ form_row(form.level)}}
    </div>
    <div class="twelve columns">
      {{ form_row(form.description) }}
    </div>
  </div>

    {{ form_row(form._token) }}
  <input class="button green" type="submit" value="Créer"/>
</form>

{% endblock %}
