{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ level.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		{{ level }}
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button green flat" href="{{ path('level_edit', {'id': level.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Description
				</h3>
			</div>
			{% autoescape false %}
				<div>{{level.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="twelve columns">Liste des personnages <small>({{level.players|length}} personnages)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Type</th>
						<th>Nom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for perso in level.players %}
					<tr>
						<td>{{ perso.number }}</td>
						<td>{{ perso.type }}</td>
						<td><a title="Voir" href="{{ path('perso_by_id', { 'id': perso.id }) }}">{{ perso.name }}</a></td>
						<td>
							<button href="#" data-dropdown="drop-actions-{{perso.id}}" aria-controls="drop-actions-{{perso.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
							<ul id="drop-actions-{{perso.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
								<li><a class="gray-font" title="Détails" href="{{ path('perso_by_id', { 'id': perso.id }) }}"><i class="fa fa-eye"></i> Détails</a></li>
								<li><a class="green-font" title="Éditer" href="{{ path('perso_edit', { 'id': perso.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock body %}