{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Types d'intrigue {% endblock %}

{% block body %}

<div class="row">
  <h1 class="ten columns">
    Les types d'intrigue
  </h1>
  <div class="two hide-for-small columns">
    <div class="button gray large-header">
      <a href="{{ path('create_intrigue_type') }}">Créer un type</a>
    </div>
  </div>
</div>

<div class="spacer"></div>

<table class="records_list datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Nombre d'intrigues</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for type in types %}
      {% autoescape false %}
        <tr>
          <td><a title="Voir" href="{{ path('intrigue_type_by_id', { 'id': type.id }) }}">{{ type.name }}</a></td>
          <td>{{ type.description }}</td>
          <td>{{ type.intrigues|length }}</td>
          <td>
            <ul class="button-group even two-up">
              <li>
                <div class="button green">
                  <a title="Éditer" href="{{ path('intrigue_type_edit', { 'id': type.id }) }}"><i class="icon-pencil"></i></a>
                </div>
              </li>
              <li>
                <div class="button red">
                  <a title="Supprimer" href="{{ path('intrigue_type_delete', { 'id': type.id }) }}"><i class="icon-remove-sign"></i></a>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      {% endautoescape %}
  {% endfor %}
  </tbody>
</table>

{% endblock body %}
