{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouveau type d'intrigue {% endblock %}

{% block body %}

<h1>Créer un nouveau type d'intrigue</h1>

<form method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="twelve columns">
						{{ form_row(form.name)}}
					</div>
					<div class="twelve columns">
						{{ form_row(form.description) }}
					</div>
				</div>
			</div>
		</div>
	</div>

		{{ form_row(form._token) }}
	<button class="button flat green" type="submit"><i class="fa fa-plus"></i> Créer</button>
</form>

{% endblock %}
