{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ type.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ type.name }}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('intrigue_type_edit', {'id': type.id}) }}">Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Description</h3>
			</div>
			{% autoescape false %}
				<div>{{type.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<!-- Intrigues -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Liste des intrigues <small>({{type.intrigues|length}} intrigues)</small></h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table class="records_list datatable">
						<thead>
							<tr>
								<th>Numero</th>
								<th>Nom</th>
								<th>Nombre d'implications</th>
								<th>Scénariste</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{% for intrigue in type.intrigues %}
							<tr>
								<td>{{ intrigue.number }}</td>
								<td><a title="Voir" href="{{ path('intrigue_by_id', { 'id': intrigue.id }) }}">{{ intrigue.name }}</a></td>
								<td>{{intrigue.implications|length}}</td>
								<td>{{intrigue.writer}}</td>
								<td>
									<a class="button flat green" title="Éditer" href="{{ path('intrigue_edit', { 'id': intrigue.id}) }}"><i class="fa fa-edit"></i></a>
									</ul>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}