{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ user|title}}{% endblock %}

{% block body %}
	<h1>Le boulot de {{ user|title}} <small>(<a href="mailto:{{user.email}}?subject=La%20BDD">{{user.email}}</a>)</small></h1>

	<div id="rpg">
		<div class="card">
			<h3>Son perso</h3>
			{% include 'UrbicandeHomeBundle:Home:rpg.html.twig' with {'user': user} %}
		</div>
	</div>

<div class="row" id="my-objects">
	<!-- Intrigues -->
	<div class="small-12 medium-6 xlarge-3 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Ses intrigues</h3>
			</div>
			<ul class="no-bullet">
				{% for intrigue in user.intrigues %}
					<li><a href="{{ path('intrigue_by_id', {'id': intrigue.id}) }}">{{ intrigue }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Personnages -->
	<div class="small-12 medium-6 xlarge-3 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Ses personnages</h3>
			</div>
			<ul class="no-bullet">
				{% for perso in user.persos %}
					<li><a href="{{ path('perso_by_id', {'id': perso.id}) }}">{{ perso }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Groupes -->
	<div class="small-12 medium-6 xlarge-3 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Ses groupes</h3>
			</div>
			<ul class="no-bullet">
				{% for groupe in user.groupes %}
					<li><a href="{{ path('groupe_by_id', {'id': groupe.id}) }}">{{ groupe }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Règles -->
	<div class="small-12 medium-6 xlarge-3 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Ses règles</h3>
			</div>
			<ul class="no-bullet">
				{% for rule in user.rules %}
					<li><a href="{{ path('rule_by_id', {'id': rule.id}) }}">{{ rule }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


	<div class="small-12 medium-6 xlarge-3 columns end">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Ses compétences</h3>
			</div>
			<ul class="no-bullet">
				{% for skill in user.skills %}
					<li><a href="{{ path('skill_by_id', {'id': skill.id}) }}">{{ skill }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
