{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
	<h1>Bienvenue {{ app.user|title}}</h1>

	<div class="row" id="updates">
		{% if app.user.setting.hasRpg %}
			<div id="rpg" class="hide-for-small medium-6  columns home-block">
				<div class="card">
					<h3>Mon perso</h3>
					{% include 'UrbicandeHomeBundle:Home:rpg.html.twig' with {'user': app.user} %}
				</div>
			</div>
			<div class="small-12 medium-6 columns home-block">
				<div class="card">
					<h3>Les dernières actions</h3>
					{% include 'UrbicandeHomeBundle:Home:logList.html.twig' %}
				</div>
			</div>
		{% else %}
			<div class="small-12 columns home-block">
				<div class="card">
					<h3>Les dernières actions</h3>
					{% include 'UrbicandeHomeBundle:Home:logList.html.twig' %}
				</div>
			</div>
		{% endif %}
	</div>

	<div class="row" id="my-objects">
		<div class="small-12 medium-6 large-4 xlarge-3 columns">
			<div id="my-plot" class="card">
				<div class="header row">
					<h3 class="small-6 medium-8 columns">
						Mes intrigues
					</h3>
					<div class="small-6 medium-4 columns">
						<a class="button flat gray"  href="{{ path('create_intrigue') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for intrigue in app.user.intrigues %}
						<li><a href="{{ path('intrigue_by_id', {'id': intrigue.id}) }}">{{ intrigue }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="small-12 medium-6 large-4 xlarge-3 columns">
			<div class="card" id="my-player">
				<div class="header row">
					<h3 class="small-6 medium-8 columns">
						Mes personnages
					</h3>
					<div class="small-6 medium-4 columns">
						<a class="button flat gray" href="{{ path('create_perso') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for perso in app.user.persos %}
						<li><a href="{{ path('perso_by_id', {'id': perso.id}) }}">{{ perso }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="small-12 medium-6 large-4 xlarge-3 columns">
			<div class="card" id="my-groups">
				<div class="header row">
					<h3 class="small-6 medium-8 columns">
						Mes groupes
					</h3>
					<div class="small-6 medium-4 columns">
						<a class="button flat gray" href="{{ path('create_groupe') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for groupe in app.user.groupes %}
						<li><a href="{{ path('groupe_by_id', {'id': groupe.id}) }}">{{ groupe }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="small-12 medium-6 large-4 xlarge-3 columns">
			<div class="card" id="my-rules">
				<div class="header row">
					<h3 class="small-6 medium-8 columns">
						Mes règles
					</h3>
					<div class="small-6 medium-4 columns">
						<a class="button flat gray" href="{{ path('create_rule') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for rule in app.user.rules %}
						<li><a href="{{ path('rule_by_id', {'id': rule.id}) }}">{{ rule }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="small-12 medium-6 large-4 xlarge-3 columns end">
			<div class="card" id="my-skills">
				<div class="header row">
					<h3 class="small-6 medium-8 columns">
						Mes compétences
					</h3>
					<div class="small-6 medium-4 columns">
						<a class="button flat gray" href="{{ path('create_skill') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for skill in app.user.skills %}
						<li><a href="{{ path('skill_by_id', {'id': skill.id}) }}">{{ skill }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
