{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
	<h1>Bienvenue {{ app.user|title}}</h1>

	<div id="sortable" class="row" data-equalizer>
		{% if app.user.setting.hasRpg %}
			<div class="hide-for-small medium-{{app.user.setting.rpgSize}} columns home-block" data-size="medium-{{app.user.setting.rpgSize}}" data-id="1">
				<div id="rpg" class="card" data-equalizer-watch>
					<h3 class="handle">Mon perso</h3>
					{% include 'UrbicandeHomeBundle:Home:rpg.html.twig' with {'user': app.user} %}
					<div class="resize-control">
						<a href="#" onclick="event.preventDefault(); resize('rpg', 'larger','{{path('size_update')}}')">+</a>
						<a href="#" onclick="event.preventDefault(); resize('rpg', 'smaller','{{path('size_update')}}')">-</a>
					</div>
				</div>
			</div>
			<div class="hide-for-small medium-{{app.user.setting.logSize}} columns home-block" data-size="medium-{{app.user.setting.logSize}}" data-id="2">
				<div id="log" class="card" data-equalizer-watch>
					<h3 class="handle">Les dernières actions</h3>
					{% include 'UrbicandeHomeBundle:Home:logList.html.twig' %}
					<div class="resize-control">
						<a href="#" onclick="event.preventDefault(); resize('log', 'larger','{{path('size_update')}}')">+</a>
						<a href="#" onclick="event.preventDefault(); resize('log', 'smaller','{{path('size_update')}}')">-</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="hide-for-small medium-{{app.user.setting.logSize}} columns home-block" data-size="medium-{{app.user.setting.logSize}}" data-id="2">
				<div id="log" class="card" data-equalizer-watch>
					<h3 class="handle">Les dernières actions</h3>
					{% include 'UrbicandeHomeBundle:Home:logList.html.twig' %}
					<div class="resize-control">
						<a href="#" onclick="event.preventDefault(); resize('log', 'larger','{{path('size_update')}}')">+</a>
						<a href="#" onclick="event.preventDefault(); resize('log', 'smaller','{{path('size_update')}}')">-</a>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="small-12 medium-{{app.user.setting.plotSize}} xlarge-3 columns home-block" data-size="medium-{{app.user.setting.plotSize}}" data-id="3">
			<div id="my-plots" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes intrigues
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue"  href="{{ path('create_intrigue') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for intrigue in app.user.intrigues %}
						<li><a href="{{ path('intrigue_by_id', {'id': intrigue.id}) }}">{{ intrigue }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-plots', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-plots', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-{{app.user.setting.persoSize}} xlarge-3 columns home-block" data-size="medium-{{app.user.setting.persoSize}}" data-id="4">
			<div id="my-players" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes personnages
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue" href="{{ path('create_perso') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for perso in app.user.persos %}
						<li><a href="{{ path('perso_by_id', {'id': perso.id}) }}">{{ perso }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-players', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-players', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-{{app.user.setting.groupeSize}} xlarge-3 columns home-block" data-size="medium-{{app.user.setting.groupeSize}}" data-id="5">
			<div id="my-groups" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes groupes
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue" href="{{ path('create_groupe') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for groupe in app.user.groupes %}
						<li><a href="{{ path('groupe_by_id', {'id': groupe.id}) }}">{{ groupe }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-groups', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-groups', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-{{app.user.setting.ruleSize}} xlarge-3 columns home-block" data-size="medium-{{app.user.setting.ruleSize}}" data-id="6">
			<div id="my-rules" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes règles
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue" href="{{ path('create_rule') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for rule in app.user.rules %}
						<li><a href="{{ path('rule_by_id', {'id': rule.id}) }}">{{ rule }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-rules', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-rules', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-{{app.user.setting.skillSize}} xlarge-3 columns home-block" data-size="medium-{{app.user.setting.skillSize}}" data-id="7">
			<div id="my-skills" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes compétences
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue" href="{{ path('create_skill') }}">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for skill in app.user.skills %}
						<li><a href="{{ path('skill_by_id', {'id': skill.id}) }}">{{ skill }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-skills', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-skills', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div class="small-12 medium-{{app.user.setting.taskSize}} xlarge-3 columns home-block end" data-size="medium-{{app.user.setting.taskSize}}" data-id="8">
			<div id="my-tasks" class="card" data-equalizer-watch>
				<div class="header row">
					<h3 class="small-6 medium-7 large-9 columns handle">
						Mes taches
					</h3>
					<div class="small-6 medium-5 large-3 columns">
						<a class="button flat blue" href="#" data-reveal-id="task" onclick="event.preventDefault();">
							Créer
						</a>
					</div>
				</div>
				<ul class="no-bullet">
					{% for task in app.user.tasks %}
						<li data-id="{{task.id}}" data-url="{{ path('complete_task', {id: task.id}) }}"><a href="#">{% if task.isDone == false %}<i class="fa fa-square-o"></i>{% else %}<i class="fa fa-check-square"></i>{% endif %} {{ task }}</a></li>
					{% endfor %}
				</ul>
				<div class="resize-control">
					<a href="#" onclick="event.preventDefault(); resize('my-tasks', 'larger','{{path('size_update')}}')">+</a>
					<a href="#" onclick="event.preventDefault(); resize('my-tasks', 'smaller','{{path('size_update')}}')">-</a>
				</div>
			</div>
		</div>

		<div id="task" class="reveal-modal task-modal" data-reveal="true">
			<h3 class="small-12 column title">Nouvelle tache</h3>

			<div class="small-12 column">
				<div class="row">
					<div class="small-12 medium-4 column">
						{{ form_row(taskForm.writer)}}
					</div>
					<div class="small-12 medium-4 column">
						{{ form_row(taskForm.text)}}
					</div>
					<div class="small-12 medium-4 column">
						{{ form_row(taskForm.endDate)}}
					</div>
				</div>
			</div>

			<a href="#" class="flat button green hide-for-print small-12 medium-3 large-2" onclick="event.preventDefault();createTask('{{path('create_task')}}')">Créer</a>
			<a class="close-reveal-modal modal-dismiss hide-for-print"><i class="fa fa-minus"></i></a>
		</div>
	</div>
	<script src="{{ asset('js/Sortable.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		var el = document.getElementById('sortable');
		var sort = new Sortable(el, {
			draggable: ".home-block", // Specifies which items inside the element should be sortable
			handle: ".handle",
			scroll: true, // or HTMLElement
			scrollSensitivity: 30, // px, how near the mouse must be to an edge to start scrolling.
			scrollSpeed: 10, // px
			store: {
				get: function (sortable) {
					var order = '{{app.user.setting.blockOrder}}';
					return order ? order.split('|') : [];
				},
				set: function (sortable) {
					var order = sortable.toArray().join('|');
					$.ajax({
						url: '{{path("order_update")}}',
						data: {order: order},
					})
					.done(function() {
						console.log("success");
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
				}
			}
		});
	</script> 
{% endblock %}
