{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Types d'objet {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		Les types d'objet
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_object_type') }}">Créer un type</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Nombre d'objets</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for type in types %}
		<tr>
			<td><a title="Voir" href="{{ path('object_type_by_id', { 'id': type.id }) }}">{{ type.name }}</a></td>
			<td>{% autoescape false %}{{ type.description }}{% endautoescape %}</td>
			<td>{{ type.objects|length }}</td>
			<td>
				<ul class="button-group">
					<li><a class="button flat green" title="Éditer" href="{{ path('object_type_edit', { 'id': type.id }) }}"><i class="fa fa-edit"></i></a></li>
					<li><a class="button flat red" title="Supprimer" href="{{ path('object_type_delete', { 'id': type.id }) }}"><i class="fa fa-times-circle"></i></a></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
