{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouveau type d'objet {% endblock %}

{% block body %}

<h1>Créer un nouveau type d'objet</h1>

<form method="post" {{ form_enctype(form) }}>
  <div class="row">
    <h3 class="twelve columns">La base</h3>
    <div class="twelve columns columns">
      {{ form_row(form.name)}}
    </div>
    <div class="twelve columns columns">
      {{ form_row(form.description) }}
    </div>
  </div>

  {{ form_row(form._token) }}
  <input class="button green" type="submit" value="Créer"/>
</form>

{% endblock %}
