{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ type.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ type.name }}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('object_type_edit', {'id': type.id}) }}">Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Description</h3>
			</div>
			{% autoescape false %}
				<div>{{type.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Liste des objets <small>({{type.objects|length}} objets)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Position de départ</th>
						<th>Référent</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for object in type.objects %}
					<tr>
						<td><a title="Voir" href="{{ path('object_by_id', { 'id': object.id }) }}">{{ object.name }}</a></td>
						<td>{{ object.origin }}</td>
						<td>{{ object.creator }}</td>
						<td>
							<ul class="button-group even two-up">
								<li><a class="button flat gray" href="{{ path('object_by_id', { 'id': object.id }) }}"><i class="fa fa-eye"></i></a</li>
								<li><a class="button flat green" href="{{ path('object_edit', { 'id': object.id}) }}"><i class="fa fa-edit"></i></a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock body %}