{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Règles {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les règles
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_rule') }}">Créer une règle</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Nom</th>
			<th>Référent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for rule in rules %}
			<tr>
				<td>{{ rule.number }}</td>
				<td><a title="Voir" href="{{ path('rule_by_id', { 'id': rule.id }) }}">{{ rule.name }}</a></td>
				<td><a title="Voir" href="{{ path('user_by_name', { 'username': rule.writer.username }) }}">{{ rule.writer }}</a></td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{rule.id}}" aria-controls="drop-actions-{{rule.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{rule.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('rule_edit', { 'id': rule.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('rule_delete', { 'id': rule.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
