{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Règle {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{rule}}
	</h1>
	<div class="small-6 medium-3 columns">
		<ul class="button-group">
			<li><a class="button flat green" href="{{ path('rule_edit', {'id': rule.id}) }}">Modifier</a></li>
			<li><a class="button flat gray hide-for-medium-down" href="{{ path('download_rule', {'id': rule.id}) }}">Télécharger</a></div>
			</li>
		</ul>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Description</h3>
			</div>
			{% autoescape false %}
				<div>{{rule.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

{% endblock body %}