{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouveau commentaire{% endblock %}

{% block body %}

<h1>Nouveau commentaire pour {{perso.name}}</h1>

<form action="{{ path('create_perso_comment', {'persoId': perso.id}) }}" method="post" {{ form_enctype(form) }}>
  <div class="row">
      <div class="small-12 columns">{{ form_row(form.comment, {'label': 'Commentaire'}) }}</div>
  </div>

  <div style="display:none">
    {{ form_rest(form) }}
  </div>
  <button class="button flat green" type="submit"><i class="fa fa-plus"></i> Créer</button>
</form>

{% endblock %}
