{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Edition de {{back.title}} {% endblock %}

{% block body %}

<h1>Edition de {{back.title}}</h1>

<form action="{{path('background_update', {'id': back.id}) }}" method="post" {{ form_enctype(form) }}>
  <div class="row block">
    <h3 class="twelve columns">La base</h3>
    <div class="six mobile-two columns">
      {{ form_row(form.writer)}}
    </div>
    <div class="six mobile-two columns">
      {{ form_row(form.title) }}
    </div>
  </div>
  
  <div class="spacer"></div>

  <div class="row block">
    <h3 class="twelve columns">Les détails</h3>
    <div class="twelve columns">
      {{ form_row(form.body) }}
    </div>
  </div>

  {{ form_row(form._token) }}
  <input class="button green" type="submit" value="Éditer"/>
</form>

{% endblock %}
