{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Background {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les documents de background
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_background') }}">Créer un document</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Scénariste</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for back in backs %}
			<tr>
				<td><a title="Voir" href="{{ path('background_by_id', { 'id': back.id }) }}">{{ back.title }}</a></td>
				<td><a title="Voir" href="{{ path('user_by_name', { 'username': back.writer.username }) }}">{{ back.writer }}</a></td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{back.id}}" aria-controls="drop-actions-{{back.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{back.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('background_edit', { 'id': back.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('background_delete', { 'id': back.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
