{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Objets {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les objets
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_object') }}">Créer un objet</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Type</th>
			<th>Nom</th>
			<th>Position de départ</th>
			<th>Référent</th>
			<th>Nombre de données</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for object in objects %}
			<tr>
				<td><a title="Voir" href="{{ path('object_type_by_id', { 'id': object.type.id }) }}">{{ object.type }}</a></td>
				<td><a title="Voir" href="{{ path('object_by_id', { 'id': object.id }) }}">{{ object.name }}</a></td>
				<td>{{ object.origin }}</td>
				<td>{{ object.creator }}</td>
				<td>{{ object.datas|length }}</td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{object.id}}" aria-controls="drop-actions-{{object.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{object.id}}" object-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('object_edit', { 'id': object.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('object_delete', { 'id': object.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
					</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
