{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouvel objet {% endblock %}

{% block body %}

<h1>Créer un nouvel objet</h1>

<form method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-4 columns">
						{{ form_row(form.type)}}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.name) }}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.creator) }}
					</div>
					<div class="small-12 columns">
						{{ form_row(form.description) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Où est l'objet en début de jeu (1 choix parmi les 3)</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-4 columns">
						{{ form_row(form.owner)}}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.place) }}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.appearance) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	<button class="button flat green" type="submit"><i class="fa fa-plus"></i> Créer</button>
</form>

{% endblock %}
