{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Statistiques {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 columns">
		Les statistiques
	</h1>
</div>

<div class="row">
	<div id="genderChart" class="small-12 medium-6 large-4 column semi chart"></div>
	<div id="statusChart" class="small-12 medium-6 large-4 column semi chart"></div>
	<div id="groupChart" class="small-12 medium-6 large-4 column semi chart"></div>

	<div id="intriguePersoChart" class="small-12 column full chart"></div>
	<div id="intrigueUserChart" class="small-12 column semi chart"></div>
</div>



{% block javascript %}
	{{parent()}}
	{% autoescape false %}
	<script type="text/javascript">
		window.onload = function () {

		{% set fullSex = {'H': sexes.H, 'F': sexes.F, 'NA': sexes.NA} %}
		var genderChart = new CanvasJS.Chart("genderChart", {
				theme: "theme2",
				title:{
					text: "Répartition des sexes"
				},
				legend:{
					verticalAlign: "bottom",
					horizontalAlign: "center"
				},
				data: [
					{       
					 type: "pie",
					 showInLegend: false,
					 dataPoints: [
						{% for gender in genderChart %}
							{  y: {{gender['nb_sex']}}, indexLabel: "{{fullSex[gender['sex']]}}", legendText:"{{fullSex[gender['sex']]}}"},
						{% endfor %}
					 ]
				 }
			 ]
		});

		{% set fullStatus = {'C': statuses.C, 'S': statuses.S, 'D': statuses.D, 'R': statuses.R} %}
		var statusChart = new CanvasJS.Chart("statusChart", {
				theme: "theme2",
				title:{
					text: "Répartition des status d'écriture"
				},
				legend:{
					verticalAlign: "bottom",
					horizontalAlign: "center"
				},
				data: [
					{       
					 type: "pie",
					 showInLegend: false,
					 dataPoints: [
						{% for statut in statusChart %}
								{  y: {{statut['nb_status']}}, indexLabel: "{{fullStatus[statut['status']]}}", legendText:"{{fullStatus[statut['status']]}}"},
						{% endfor %}
					 ]
				 }
			 ]
		});

		var groupChart = new CanvasJS.Chart("groupChart", {
				theme: "theme2",
				title:{
					text: "Répartition des personnages par groupe",
					fontSize: 30
				},     
				toolTip:{             
					content: function(e){
						var content;
						content = e.entries[0].dataPoint.indexLabel + " : "+e.entries[0].dataPoint.y + " membre(s)"  ;
						return content;
					}
				},
				legend:{
					verticalAlign: "bottom",
					horizontalAlign: "center"
				},
				data: [
					{       
						type: "doughnut",
						indexLabelFontSize: 20,
						showInLegend: false,
						dataPoints: [
						{% for groupe in groupChart %}
								{  y: {{groupe['nb_members']}}, indexLabel: '{{groupe["name"]}}' }, 
						{% endfor %}
					 ]
				 }
			 ]
		});

		var intriguePersoChart = new CanvasJS.Chart("intriguePersoChart",
		{
			title:{
				text: "Nombre d'intrigue par personnage",
				fontSize: 30
			},
			toolTip:{             
					content: function(e){
						var content;
						content = e.entries[0].dataPoint.y+' intrigue(s) de type '+ e.entries[0].dataSeries.legendText;
						return content;
					}
				},
			axisX:{
				interval: 1,
				labelFontSize: 14,
				lineThickness: 0
			},
			axisY:{
				interval: 1,
				labelFontSize: 20,
			},
			legend:{
				verticalAlign: "top",
				horizontalAlign: "center"
			},
			data: [
			{% for type in persoChart %}
				{
					type: "stackedBar",
					legendText: "{{type.name}}",
					showInLegend: "true",
					dataPoints: [
						{% for perso in type.persos|reverse %}
							{  y: {{perso.nb_intrigue}} , label: '{{perso.name}}'},
						{% endfor %}
					]
				},
			{% endfor %}
			]
		});

		var intrigueUserChart = new CanvasJS.Chart("intrigueUserChart",
		{
			title:{
				text: "Nombre d'intrigue par scénariste",
				fontSize: 30
			},
			toolTip:{             
					content: function(e){
						var content;
						content = e.entries[0].dataPoint.y+' intrigue(s) de type '+ e.entries[0].dataSeries.legendText;
						return content;
					}
				},
			axisX:{
				interval: 1,
				labelFontSize: 14,
				lineThickness: 0
			},
			axisY:{
				interval: 1,
				labelFontSize: 20,
			},
			legend:{
				verticalAlign: "top",
				horizontalAlign: "center"
			},
			data: [
			{% for type in userChart %}
				{
					type: "stackedBar",
					legendText: "{{type.name}}",
					showInLegend: "true",
					dataPoints: [
						{% for user in type.users|reverse %}
							{  y: {{user.nb_intrigue}} , label: '{{user.name}}'},
						{% endfor %}
					]
				},
			{% endfor %}
			]
		});

		genderChart.render();
		statusChart.render();
		groupChart.render();
		intriguePersoChart.render();
		intrigueUserChart.render();
	}
	</script>
	{% endautoescape %}
{% endblock %}

{% endblock body %}

