{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Scénographie {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		La scénographie
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_sceno') }}"><i class="fa fa-plus"></i> Créer une scénographie</a>
	</div>
</div>

<div id='calendar' data-urbi-url="{{path('sceno_cal')}}"></div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Timing</th>
			<th>Intrigue</th>
			<th>Parents</th>
			<th>Référent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for sceno in scenos %}
		<tr>
			<td><a title="Voir" href="{{ path('sceno_by_id', { 'id': sceno.id }) }}">{{ sceno.name }}</a></td>
			<td>{{ sceno.fullTiming }}</td>
			<td>
				{% if sceno.intrigue %}
					<a href="{{path('intrigue_by_id', {'id': sceno.intrigue.id})}}">{{ sceno.intrigue }}</a>
				{% endif %}
			</td>
			<td>
				{% for parent in sceno.parents %}
					<a href="{{path('sceno_by_id', {'id': parent.id})}}">{{parent.name}}</a>/
				{% endfor %}
			</td>
			<td>{{ sceno.creator }}</td>
			<td>
				<button href="#" data-dropdown="drop-actions-{{sceno.id}}" aria-controls="drop-actions-{{sceno.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
				<ul id="drop-actions-{{sceno.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
					<li><a class="green-font" title="Éditer" href="{{ path('sceno_edit', { 'id': sceno.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
					<li><a class="red-font" title="Supprimer" href="{{ path('sceno_delete', { 'id': sceno.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
