{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouvel évènement de scénographie{% endblock %}

{% block body %}

<h1>Créer un nouvel évènement de scénographie</h1>

<form method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-4 columns">
						{{ form_row(form.creator)}}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.intrigue)}}
					</div>
					<div class="small-12 medium-4 columns">
						{{ form_row(form.name)}}
					</div>
					<div class="small-12 columns">
						{{ form_row(form.description)}}
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Le timing</h3>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<div class="timings" data-prototype="{{ form_widget(form.timings.vars.prototype)|e }}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Les relations</h3>
				</div>
				<div class="row">
					<div class="five columns">
						{{ form_row(form.players)}}
					</div>
					 <div class="five columns">
						{{ form_row(form.parents)}}
					</div>
					<div class="five columns">
						{{ form_row(form.objects)}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="display:none">
		{{ form_rest(form) }}
	</div>
	<button class="button flat green" type="submit"><i class="fa fa-plus"></i> Créer</button>
</form>

{% endblock %}
