{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Nouvel évènement de scénographie{% endblock %}

{% block body %}

<h1>Créer un nouvel évènement de scénographie</h1>

<form method="post" {{ form_enctype(form) }}>
  <div class="row block">
    <h3 class="twelve columns">La base</h3>
    <div class="four mobile-one columns">
      {{ form_row(form.creator)}}
    </div>
    <div class="four mobile-one columns">
      {{ form_row(form.intrigue)}}
    </div>
    <div class="four mobile-one columns">
      {{ form_row(form.name)}}
    </div>
    <div class="twelve columns">
      {{ form_row(form.description)}}
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row block">
    <h3 class="twelve columns">Le timing</h3>
    <div class="twelve columns">
      <div class="timings" data-prototype="{{ form_widget(form.timings.vars.prototype)|e }}"></div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row block">
    <h3 class="twelve columns">Les relations</h3>
    <div class="five columns">
      {{ form_row(form.objects)}}
    </div>
     <div class="five columns">
      {{ form_row(form.parents)}}
    </div>
  </div>

  <div style="display:none">
    {{ form_rest(form) }}
  </div>
  <input class="button green" type="submit" value="Créer"/>
</form>

{% endblock %}
