{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ sceno.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ sceno.name }}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('sceno_edit', {'id': sceno.id}) }}">Modifier</a>
	</div>
</div>

<div class="row">
	<div class="small-6 medium-4 columns">
		<b>Référent</b> : {{sceno.creator}}<br>
		{% if sceno.intrigue %}
			<b>Intrigue</b> : {{sceno.intrigue}}<br>
		{% endif %}
	</div>
	<div class="small-6 medium-8 columns">
		{% if sceno.parents|length > 0 %}
			<b>Dépend de</b> : 
			{% for parent in sceno.parents %}
				<a href="{{path('sceno_by_id', {'id': parent.id}) }}">{{parent}}</a>/
			{% endfor %}
		{% endif %}
		<br>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Description</h3>
			</div>
			{% autoescape false %}
				<div>{{sceno.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Timings
				</h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Jour de début</th>
						<th>Heure de début</th>
						<th>Jour de fin</th>
						<th>Heure de fin</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for timing in sceno.timings %}
						<tr>
							<td>Jour {{timing.startDay}}</td>
							<td>{{timing.startHour|date('H:i')}}</td>
							<td>
								{% if timing.endDay %}
									Jour {{timing.endDay}}
								{% endif %}
							</td>
							<td>
								{% if timing.endHour and timing.endHour|date('H:i:s') != '00:00:00'%}
									{{timing.endHour|date('H:i')}}
								{% endif %}
							</td>
							<td>
								<button href="#" data-dropdown="drop-actions-timing-{{timing.id}}" aria-controls="drop-actions-timing-{{timing.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
								<ul id="drop-actions-timing-{{timing.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
									<li><a class="red-font" title="Supprimer" href="{{ path('timing_delete', { 'id': timing.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Joueurs concernés
				</h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Type</th>
						<th>Numero</th>
						<th>Nom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for perso in sceno.players %}
						<tr>
							<td><a title="Voir" href="{{ path('perso_type_by_id', { 'id': perso.type.id }) }}">{{ perso.type }}</a></td>
							<td>{{ perso.number }}</td>
							<td><a title="Voir" href="{{ path('perso_by_id', { 'id': perso.id }) }}">{{ perso.name }}</a></td>
							<td>
								<button href="#" data-dropdown="drop-actions-perso-{{perso.id}}" aria-controls="drop-actions-perso-{{perso.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
								<ul id="drop-actions-perso-{{perso.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
									<li><a class="green-font" title="Éditer" href="{{ path('perso_edit', { 'id': perso.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
									<li><a class="red-font" title="Retirer" href="{{ path('sceno_remove_perso', { 'scenoId': sceno.id, 'persoId': perso.id }) }}"><i class="fa fa-minus-circle"></i> Retirer</a></li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Objets nécessaires
				</h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Type</th>
						<th>Nom</th>
						<th>Position de départ</th>
						<th>Référent</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for object in sceno.objects %}
						<tr>
							<td><a title="Voir" href="{{ path('object_type_by_id', { 'id': object.type.id }) }}">{{ object.type }}</a></td>
							<td><a title="Voir" href="{{ path('object_by_id', { 'id': object.id }) }}">{{ object.name }}</a></td>
							<td>{{ object.origin }}</td>
							<td>{{ object.creator }}</td>
							<td>
								<button href="#" data-dropdown="drop-actions-object-{{object.id}}" aria-controls="drop-actions-object-{{object.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
								<ul id="drop-actions-object-{{object.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
									<li><a class="green-font" title="Éditer" href="{{ path('object_edit', { 'id': object.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
									<li><a class="red-font" title="Retirer" href="{{ path('sceno_remove_object', { 'scenoId': sceno.id, 'objectId': object.id }) }}"><i class="fa fa-minus-circle"></i> Retirer</a></li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock body %}