<div class="comments hide-for-small">
  {% for comment in intrigue.comments %}
      {% if comment.user != intrigue.writer %}
        <div id="comment-{{comment.id}}" class="comment-box">
          <div class="row">
            <div class="left actions">
              {% if(app.user == comment.user) %}
                <a class="green-font" href="{{ path('intrigue_comment_edit', {'id': comment.id}) }}"><i class="fa fa-edit"></i></a>
                <a class="red-font" href="{{ path('intrigue_comment_delete', {'id': comment.id}) }}"><i class="fa fa-times-circle"></i></a>
              {% else %}
                <a class="gray-font" href="{{ path('intrigue_comment_respond', {'intrigueId': intrigue.Id,'commentId': comment.id}) }}"><i class="fa fa-share"></i></a>
              {% endif %}
            </div>
            <div class="left">
              Par <b>{{comment.user}}</b> le {{comment.createdAt|date('d M Y')}}
              {% if comment.parentComment is not null %} 
                en réponse à <a href="#comment-{{comment.parentComment.id}}">{{comment.parentComment.user}}</a>
              {% endif %} :
            </div>
          </div>
          <div class="row">
            {% autoescape false %}
              <div class="small-7 columns comment">{{ comment.comment}}</div>
            {% endautoescape %}
          </div>
        </div>
      {% else %}
        <div id="comment-{{comment.id}}" class="comment-box author">
          <div class="row">
            <div class="right" style="margin-left:10px;">
              Par <b>{{comment.user}}</b> le {{comment.createdAt|date('d M Y')}}
              {% if comment.parentComment is not null %} 
                en réponse à <a href="#comment-{{comment.parentComment.id}}">{{comment.parentComment.user}}</a>
              {% endif %} :
            </div>
            <div class="right">
              {% if(app.user == comment.user) %}
                <a class="green-font" href="{{ path('intrigue_comment_edit', {'id': comment.id}) }}"><i class="fa fa-edit"></i></a>
                <a class="red-font" href="{{ path('intrigue_comment_delete', {'id': comment.id}) }}"><i class="fa fa-times-circle"></i></a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            {% autoescape false %}
              <div class="push-5 small-7 columns comment">{{ comment.comment}}</div>
            {% endautoescape %}
          </div>
        </div>
      {% endif %}
  {% endfor %}
  <div class="spacer"></div>
</div>