{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Edition d'un commentaire{% endblock %}

{% block body %}

<h1>Editer le commentaire</h1>

<form action="{{ path('intrigue_comment_update', {'id': intrigueComment.id}) }}" method="post" {{ form_enctype(form) }}>
  <div class="row">
      <div class="twelve columns">{{ form_row(form.comment, {'label': 'Commentaire'}) }}</div>
  </div>

  <div style="display:none">
    {{ form_rest(form) }}
  </div>
  <button class="button green" type="submit"><i class="fa fa-save"></i> Éditer</button>
</form>

{% endblock %}
