{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Personnages {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les personnages
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button gray flat" href="{{ path('perso_export_all') }}">Exporter</a>
		<a class="button blue flat" href="{{ path('create_perso') }}">Créer un personnage</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th rowspan="2">Type</th>
			<th rowspan="2">Numero</th>
			<th rowspan="2">Nom</th>
			<th rowspan="2">Sexe</th>
			<th rowspan="2">Concept</th>
			<th rowspan="2">Statut</th>
			<th rowspan="2">Scénariste</th>
			<th colspan="3">Nombre d'implications</th>
			<th rowspan="2">Actions</th>
		</tr>
		<tr>
			<th>Héros</th>
			<th>Actif</th>
			<th>Réactif</th>
		</tr>
	</thead>
	<tbody>
		{% for perso in persos %}
			<tr>
				<td><a title="Voir" href="{{ path('perso_type_by_id', { 'id': perso.type.id }) }}">{{ perso.type.name }}</a></td>
				<td>{{ perso.number }}</td>
				<td><a title="Voir" href="{{ path('perso_by_id', { 'id': perso.id }) }}">{{ perso.name }}</a></td>
				<td>{{ perso.fullSex }}</td>
				<td>{% autoescape false %}{{ perso.concept }}{% endautoescape %}</td>
				<td>{{ perso.getFullStatus }}</td>
				<td><a title="Voir" href="{{ path('user_by_name', { 'username': perso.writer.username }) }}">{{ perso.writer }}</a></td>
				<td>{{ perso.countIntrigueByDegree('Héros') }}</td>
				<td>{{ perso.countIntrigueByDegree('Actif') }}</td>
				<td>{{ perso.countIntrigueByDegree('Réactif') }}</td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{perso.id}}" aria-controls="drop-actions-{{perso.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{perso.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('perso_edit', { 'id': perso.id }) }}"><i class="fa fa-edit"></i> Editer</a></li>
						<li><a class="gray-font" title="Exporter" href="{{ path('perso_export', { 'id': perso.id }) }}"><i class="fa fa-download"></i> Exporter</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('perso_delete', { 'id': perso.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
