{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ perso.name}} {% endblock %}

{% block body %}
<script type="text/javascript">
	// Called when the Visualization API is loaded.
	function drawVisualization() {
		// Create and populate a data table.
		var data = [];

		{% for event in perso.events %}
			data.push({
				'start': new Date({{event.startDate|date('Y')}}, {{event.startDate|date('n')-1}}, {{event.startDate|date('d')}}),
				{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %}
					'end': new Date({{event.endDate|date('Y')}}, {{event.endDate|date('n')-1}}, {{event.endDate|date('d')}}),
				{% endif %}
				'content': '<a href="{{path('event_by_id', {'id': event.id}) }}">{{event.name}}</a>',
			});
		{% endfor %}

		{% for groupe in perso.groupes %}
			{% for event in groupe.events %}
				data.push({
					'start': new Date({{event.startDate|date('Y')}}, {{event.startDate|date('n')-1}}, {{event.startDate|date('d')}}),
					{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %}
						'end': new Date({{event.endDate|date('Y')}}, {{event.endDate|date('n')-1}}, {{event.endDate|date('d')}}),
					{% endif %}
					'content': '<a href="{{path('event_by_id', {'id': event.id}) }}">{{event.name}}</a>',
				});
			{% endfor %}
		{% endfor %}
		

		// specify options
		options = {
			"width":  "100%",
			"height": "150px",
			"style": "box", // optional
			 "zoomMin": 1000 * 60 * 60 *24 * 7,
			"showCurrentTime": "false",
			"showNavigation": "true",
		}; 
		// Instantiate our timeline object.
		var timeline = new links.Timeline(document.getElementById('event-timeline'));

		// Draw our timeline with the created data and options
		timeline.draw(data, options);
	}
</script>

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ perso.name }} ({{perso.type.name}} {{perso.number}}) <small>assigné à {{perso.writer.username}}</small>
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('perso_edit', {'id': perso.id}) }}">Modifier</a>
	</div>
</div>

<div class="row">
	<div class="small-4 columns">
		<b>Age</b> : {{perso.age}} ans <br>
		<b>Sexe</b> : {{perso.fullSex}} <br>
		<b>Niveau</b> : {{perso.level}}
	</div>
	<div class="small-4 columns">
		<b>Job</b> : {{perso.job}} ({{perso.income}}/an)<br>
		<b>Concept</b> : {% autoescape false %}{{perso.concept}}{% endautoescape %}
	</div>
	<div class="small-4 columns">
		<b>Costume</b> : {{perso.costume}}
	</div>
</div>

<div class="row page-header hide-for-small">
	<h3 class="small-6 medium-7 columns">Commentaires</h3>
	<div class="small-6 medium-5 columns">
			<a class="button flat blue" href="{{ path('create_perso_comment', {'persoId': perso.id}) }}">Ajouter un commentaire</a>
	</div>
</div>
{{ include('UrbicandePersoBundle:PersonnageComment:commentList.html.twig') }}

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Histoire</h3>
			</div>
			{% autoescape false %}
				<div>{{perso.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<!--- Chronologie -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-6 medium-7 large-10 columns">Chronologie</h3>
				<div class="small-6 medium-5 large-2 columns">
					<a class="button flat blue"  href="{{path('create_event', {'perso': perso.id})}}">
						Créer
					</a>
				</div>
			</div>
			<div id="event-timeline"></div>
		</div>
	</div>
</div>

<!-- Détails -->
<div class="row">
	<div class="small-12 medium-6 large-4 xlarge-3 columns">
		<div id="skills" class="card">
			<div class="header row">
				<h3 class="small-6 medium-7 columns">
					Compétences
				</h3>
				<div class="small-6 medium-5 columns">
					<a class="button flat blue"  href="{{ path('create_skill') }}">
						Créer
					</a>
				</div>
			</div>
			<ul class="no-bullet">
				{% for skill in perso.skills %}
					<li><a href="{{ path('skill_by_id', {'id': skill.id}) }}">{{ skill }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="small-12 medium-6 large-4 xlarge-3 columns">
		<div id="groupes" class="card">
			<div class="header row">
				<h3 class="small-6 medium-7 columns">
					Groupes
				</h3>
				<div class="small-6 medium-5 columns">
					<a class="button flat blue" href="{{path('create_groupe', {'perso': perso.id})}}">
						Créer
					</a>
				</div>
			</div>
			<ul class="no-bullet">
				{% for groupe in perso.groupes %}
					<li><a href="{{ path('groupe_by_id', {'id': groupe.id}) }}">{{ groupe }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="small-12 medium-6 large-4 xlarge-3 columns end">
		<div id="plots" class="card">
			<div class="header row">
				<h3 class="small-6 medium-7 columns">
					Intrigues
				</h3>
				<div class="small-6 medium-5 columns">
					<a class="button flat blue" href="{{path('create_intrigue', {'perso': perso.id})}}">
						Créer
					</a>
				</div>
			</div>
			<ul class="no-bullet">
				{% for intrigue in perso.intrigues %}
					<li><a href="{{ path('intrigue_by_id', {'id': intrigue.id}) }}">{{ intrigue }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>


<!-- Implication et relation -->
<div class="row">
	<div class="small-12 medium-6 columns">
		<div id="plots">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Implication
				</h3>
			</div>
			{% for implication in perso.intrigues %}
				<div class="row {{implication.degree}}">
					<div class="small-12 column">
						<div class="card plot">
							<div class="header row">
								<h4 class="small-6 medium-8 columns">
									<a href="{{path('intrigue_by_id', {'id': implication.intrigue.id}) }}">{{implication.intrigue}} ({{implication.degree}})</a>
								</h4>
							</div>
							<div>
								{{implication.theme}}<br>
								{{implication.synopsis}}
							</div>
							<div>
								<h5>Information rédacteur</h5>
								<p>{{implication.description}}</p>
							</div>
							<div>
								<h5>Information personnage</h5>
								<p>{{implication.information}}</p>
							</div>
							{% if(perso.type == 'PNJ') %}
								<div >
									<h5>Objectifs PNJ</h5>
									<p>{{implication.objective}}</p>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
			{% for groupe in perso.groupes %}
				{% for implication in groupe.intrigues %}
					<div class="row {{implication.degree}}">
						<div class="small-12 column">
							<div class="card plot">
								<div class="header row">
									<h4 class="small-6 medium-8 columns">
										<a href="{{path('intrigue_by_id', {'id': implication.intrigue.id}) }}">{{implication.intrigue}} ({{implication.degree}})</a>
									</h4>
								</div>
								<div>
									{{implication.theme}}<br>
									{{implication.synopsis}}
								</div>
								<div>
									<h5>Information rédacteur</h5>
									<p>{{implication.description}}</p>
								</div>
								<div>
									<h5>Information personnage</h5>
									<p>{{implication.information}}</p>
								</div>
								{% if(perso.type == 'PNJ') %}
									<div >
										<h5>Objectifs PNJ</h5>
										<p>{{implication.objective}}</p>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
			{% for event in perso.events %}
				{% for implication in event.implications %}
					<div class="row {{implication.degree}}">
						<div class="small-12 column">
							<div class="card plot">
								<div class="header row">
									<h4 class="small-6 medium-8 columns">
										<a href="{{path('intrigue_by_id', {'id': implication.intrigue.id}) }}">{{implication.intrigue}} ({{implication.degree}})</a>
									</h4>
								</div>
								<div>
									{{implication.theme}}<br>
									{{implication.synopsis}}
								</div>
								<div>
									<h5>Information rédacteur</h5>
									<p>{{implication.description}}</p>
								</div>
								<div>
									<h5>Information personnage</h5>
									<p>{{implication.information}}</p>
								</div>
								{% if(perso.type == 'PNJ') %}
									<div >
										<h5>Objectifs PNJ</h5>
										<p>{{implication.objective}}</p>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>

	<div class="small-12 medium-6 columns">
		<div id="relations">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Relations
				</h3>
			</div>
			{% for relation in perso.relationsTo %}
				<div class="row">
					<div class="small-12 column">
						<div class="card relation">
							<div class="header row">
								<h4 class="small-6 medium-8 columns">
									<i title="Connait" class="fa fa-sign-out"></i>
									<a href="{{path('relation_by_id', {'id': relation.id})}}" title="{{relation.type}}"> {{relation.type}} de {{relation.knowee}}</a>
								</h4>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% for relation in perso.relationsFrom %}
				<div class="row">
					<div class="small-12 column">
						<div class="card relation">
							<div class="header row">
								<h4 class="small-6 medium-8 columns">
									<i title="Connu de" class="fa fa-sign-in"></i>
									<a href="{{path('relation_by_id', {'id': relation.id})}}" title="{{relation.type}}">{{relation.knower}} ({{relation.type}})</a>
								</h4>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Données -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Données connues</h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Numéro</th>
						<th>Informations</th>
						<th>Documents concernés</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for data in perso.datas %}
						<tr>
							<td>{{data.number}}</td>
							<td><a href="{{path('data_by_id', {'id': data.id})}}">{{data.information}}</a></td>
							<td>
								{% for document in data.documents %}
									<a href="{{path('object_by_id', {'id': document.id}) }}">{{document.name}}</a>
								{% endfor %}
							</td>
							<td>
								<ul class="button-group">
									<li><a class="button flat green" title="Éditer" href="{{ path('data_edit', { 'id': data.id }) }}"><i class="fa fa-edit"></i></a></li>
									<li><a class="button flat red" title="Supprimer" href="{{ path('data_delete', { 'id': data.id }) }}"><i class="fa fa-times-circle"></i></a></li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock body %}