{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Évènements {% endblock %}

{% block body %}
<script type="text/javascript">
	// Called when the Visualization API is loaded.
	function drawVisualization() {
		// Create and populate a data table.
		var data = [];

		{% for event in events %}
			data.push({
				'start': new Date({{event.startDate|date('Y')}}, {{event.startDate|date('n')-1}}, {{event.startDate|date('d')}}),
				{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %}
					'end': new Date({{event.endDate|date('Y')}}, {{event.endDate|date('n')-1}}, {{event.endDate|date('d')}}),
				{% endif %}
				'content': '<a href="{{path('event_by_id', {'id': event.id}) }}">{{event.name}}</a>',
			});
		{% endfor %}
		
		// specify options
		options = {
			"width":  "100%",
			"height": "auto",
			"style": "box", // optional
			"showCurrentTime": "false",
			"zoomMin": 1000 * 60 * 60 *24 * 7,
			"showNavigation": "false",
			"cluster": "true",
			"locale": "fr"
		}; 
		// Instantiate our timeline object.
		var timeline = new links.Timeline(document.getElementById('event-timeline'));

		// Draw our timeline with the created data and options
		timeline.draw(data, options);
	}
</script>

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les évènements
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_event') }}"><i class="fa fa-plus"></i> Créer un évènement</a>
	</div>
</div>


<!-- Chronologie -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Histoire</h3>
			</div>
			<div class="row">
				<div class="small-12 columns" id="event-timeline"></div>
			</div>
		</div>
	</div>
</div>

<!-- Implications -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 large-9 columns">Liste des évènements</h3>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table class="records_list datatable">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Date</th>
								<th>Nombre de protagonistes</th>
								<th>Nombre de groupes</th>
								<th>Nombre d'intrigues</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{% for event in events %}
								<tr>
									<td><a title="Voir" href="{{ path('event_by_id', { 'id': event.id }) }}">{{ event.name }}</a></td>
									<td data-order="{{event.startDate|date('U')}}">
										{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %} {# Quand le cas où la valeur sql est 0000-00-00#}
											{{event.startDate|date('d M Y')}} - {{event.endDate|date('d M Y')}}
										{% else %}
											{{event.startDate|date('d M Y')}}
										{% endif %}
									</td>
									<td>{{ event.players|length }}</td>
									<td>{{ event.groupes|length }}</td>
									<td>{{ event.intrigues|length }}</td>
									<td>
										<button href="#" data-dropdown="drop-actions-{{event.id}}" aria-controls="drop-actions-{{event.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
										<ul id="drop-actions-{{event.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
											<li><a class="green-font" title="Éditer" href="{{ path('event_edit', { 'id': event.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
											<li><a class="red-font" title="Supprimer" href="{{ path('event_delete', { 'id': event.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
										</ul>
									</td>
								</tr>
							</a>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
