{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Évènements {% endblock %}

{% block body %}
<script type="text/javascript">
  // Called when the Visualization API is loaded.
  function drawVisualization() {
    // Create and populate a data table.
    var data = [];

    {% for event in events %}
      data.push({
        'start': new Date({{event.startDate|date('Y')}}, {{event.startDate|date('n')-1}}, {{event.startDate|date('d')}}),
        {% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %}
          'end': new Date({{event.endDate|date('Y')}}, {{event.endDate|date('n')-1}}, {{event.endDate|date('d')}}),
        {% endif %}
        'content': '<a href="{{path('event_by_id', {'id': event.id}) }}">{{event.name}}</a>',
      });
    {% endfor %}
    
    // specify options
    options = {
      "width":  "100%",
      "height": "auto",
      "style": "box", // optional
      "showCurrentTime": "false",
      "zoomMin": 1000 * 60 * 60 *24 * 7,
      "showNavigation": "true",
      "cluster": "true",
      "locale": "fr"
    }; 
    // Instantiate our timeline object.
    var timeline = new links.Timeline(document.getElementById('event-timeline'));

    // Draw our timeline with the created data and options
    timeline.draw(data, options);
  }
</script>

<div class="row">
  <h1 class="nine columns">
    Les évènements
  </h1>
  <div class="three hide-for-small columns">
    <div class="button gray large-header">
      <a href="{{ path('create_event') }}">Créer un évènement</a>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <h3 class="twelve columns">Chronologie</h3>
  <div class="twelve columns" id="event-timeline"></div>
</div>

<div class="spacer"></div>

<table class="records_list datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date</th>
      <th>Nombre de protagonistes</th>
      <th>Nombre de groupes</th>
      <th>Nombre d'intrigues</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
      <tr>
        <td><a title="Voir" href="{{ path('event_by_id', { 'id': event.id }) }}">{{ event.name }}</a></td>
        <td>
          {% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %} {# Quand le cas où la valeur sql est 0000-00-00#}
            {{event.startDate|date('d M Y')}} - {{event.endDate|date('d M Y')}}
          {% else %}
            {{event.startDate|date('d M Y')}}
          {% endif %}
        </td>
        <td>{{ event.players|length }}</td>
        <td>{{ event.groupes|length }}</td>
        <td>{{ event.intrigues|length }}</td>
        <td>
          <ul class="button-group even two-up">
            <li>
              <div class="button green">
                <a title="Éditer" href="{{ path('event_edit', { 'id': event.id }) }}"><i class="icon-pencil"></i></a>
              </div>
            </li>
            <li>
              <div class="button red">
                <a title="Supprimer" href="{{ path('event_delete', { 'id': event.id }) }}"><i class="icon-remove-sign"></i></a>
              </div>
            </li>
          </ul>
        </td>
      </tr>
    </a>
  {% endfor %}
  </tbody>
</table>

{% endblock body %}
