{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ event.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ event.name }}
		{% if (event.endDate) and (event.endDate|date('Y-m-d') != '-0001-11-30') %} {# Quand le cas où la valeur sql est 0000-00-00#}
			<small> (Du {{event.startDate|date('d M Y')}} au {{event.endDate|date('d M Y')}})</small>
		{% else %}
			<small> (Le {{event.startDate|date('d M Y')}})</small>
		{% endif %}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green" href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">Description</h3>
			</div>
			{% autoescape false %}
				<div>{{event.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>

<!-- Participants -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Participants</h3>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<h5>Personnages</h5>
					<ul>
						{% for perso in event.players %}
							<li>
								<a href="{{path('perso_by_id', {'id': perso.id}) }}">{{perso}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="small-4 columns">
					<h5>Groupes</h5>
					<ul>
						{% for groupe in event.groupes %}
							<li>
								<a href="{{path('groupe_by_id', {'id': groupe.id}) }}">{{groupe}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="small-4 columns">
					<h5>Intrigues</h5>
					<ul>
						{% for intrigue in event.intrigues %}
							<li>
								<a href="{{path('intrigue_by_id', {'id': intrigue.id}) }}">{{intrigue}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Participants -->
<div class="row">
	<div class="small-12 columns">
		<div class="card">
			<div class="header row">
				<h3 class="small-12 columns">Liste des implications <small>({{event.implications|length}} implications)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Intrigue</th>
						<th>Degré</th>
						<th>Thème</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for implication in event.implications %}
					<tr>
						<td><a title="Voir" href="{{ path('implication_by_id', { 'id': implication.id }) }}">{{ implication.intrigue }}</a></td>
						<td>{{ implication.degree }}</td>
						<td>{{ implication.theme }}</td>
						<td>
							<ul class="button-group even two-up">
								<li>
									<div class="button gray">
										<a title="Voir" href="{{ path('implication_by_id', { 'id': implication.id }) }}"><i class="icon-eye-open"></i></a>
									</div>
								</li>
								<li>
									<div class="button red">
										<a title="Supprimer" href="{{ path('implication_delete', { 'id': implication.id}) }}"><i class="icon-remove-sign"></i></a>
									</div>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock body %}