{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Edition de {{musique.name}} {% endblock %}

{% block body %}

<h1>Edition de "{{musique.name}}"<small>(revenir à la version du : 
   <form id="revert" action="{{ path('musique_revert', { 'id': musique.id }) }}" method="post" {{ form_enctype(form) }}>
    <select name="version">
      {% for log in logs %}
          <option value="{{log.version}}">{{log.loggedAt.date|date("d/m/Y H:i")}}</option>}
      {% endfor %}
    </select>
     <input class="button green" type="submit" name="revert" value="Appliquer">
     )
  </form>
</small></h1>

<form action="{{path('musique_update', {'id': musique.id}) }}" method="post" {{ form_enctype(form) }}>
  <div class="row block">
    <h3 class="twelve columns">La base</h3>
    <div class="four mobile-two columns">
      {{ form_row(form.number)}}
    </div>
    <div class="four mobile-two columns">
      {{ form_row(form.name) }}
    </div>
    <div class="four mobile-four columns">
      {{ form_row(form.type) }}
    </div>
  </div>
  
  <div class="spacer"></div>

  <div class="row block">
    <h3 class="twelve columns">Les détails</h3>
    <div class="six mobile-two columns">
      {{ form_row(form.description) }}
    </div>
     <div class="six mobile-two columns">
      {{ form_row(form.tde) }}
    </div>
     <div class="twelve mobile-four columns">
      {{ form_row(form.link) }}
    </div>
  </div>

  {{ form_row(form._token) }}
  <input class="button green" type="submit" value="Éditer"/>
</form>

{% endblock %}
