{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Musiques {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-8 columns">
		Les musiques
	</h1>
	<div class="medium-4 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_musique') }}">Créer une musique</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Numéro</th>
			<th>Nom</th>
			<th>Type</th>
			<th>Lien</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for musique in musiques %}
			<tr>
				<td><a title="Voir" href="{{ path('musique_by_id', { 'id': musique.id }) }}">{{ musique.number }}</a></td>
				<td><a title="Voir" href="{{ path('musique_by_id', { 'id': musique.id }) }}">{{ musique.name }}</a></td>
				<td>{{ musique.type }}</td>
				<td><a href="{{musique.link}}">{{ musique.link }}</a></td>
				<td>
					<ul class="button-group">
						<li><a class="button flat green" title="Éditer" href="{{ path('musique_edit', { 'id': musique.id }) }}"><i class="fa fa-edit"></i></a></li>
						<li><a class="button flat red" title="Supprimer" href="{{ path('musique_delete', { 'id': musique.id }) }}"><i class="fa fa-times-circle"></i></a></li>
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
