{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Modification de {{groupe.name}} {% endblock %}

{% block body %}

<h1>Modifier {{groupe.name}} <small>(revenir à la version du : 
	 <form id="revert" action="{{ path('groupe_revert', { 'id': groupe.id }) }}" method="post" {{ form_enctype(form) }}>
		<select name="version">
			{% for log in logs %}
					<option value="{{log.version}}">{{log.loggedAt.date|date("d/m/Y H:i")}}</option>}
			{% endfor %}
		</select>
		 <input class="button flat green" type="submit" name="revert" value="Appliquer">
		 )
	</form>
</small></h1>

<form action="{{ path('groupe_update', { 'id': groupe.id }) }}" method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						{{ form_row(form.writer)}}
					</div>
					<div class="small-12 medium-6 columns">
						{{ form_row(form.name) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Les détails</h3>
				</div>
				<div class="row">
					<div class="six mobile-two columns">
						{{ form_row(form.description) }}
					</div>
					<div class="six mobile-two columns">
						{{ form_row(form.particularity) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Les relations</h3>
				</div>
				<div class="row">
					<div class="twelve columns">
						{{ form_row(form.members) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	<input class="button flat green" type="submit" value="Modifier"/>
</form>

{% endblock %}
