{% extends '::base.html.twig' %}
{% block title %} {{ parent() }} - Groupes {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		Les groupes
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_groupe') }}"><i class="fa fa-plus"></i> Créer un groupe</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Nombre de personnages</th>
			<th>Nombre d'intrigues</th>
			<th>Nombre d'évènements</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for groupe in groupes %}
			<tr>
				<td><a href="{{ path('groupe_by_id', { 'id': groupe.id }) }}">{{ groupe.name }}</a></td>
				<td>{% autoescape false %}{{ groupe.description|slice(0, 60) }}[...]{% endautoescape %}</td>
				<td>{{ groupe.members|length }}</td>
				<td>{{ groupe.intrigues|length }}</td>
				<td>{{ groupe.events|length }}</td>
				<td>
					<button href="#" data-dropdown="drop-actions-{{groupe.id}}" aria-controls="drop-actions-{{groupe.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
					<ul id="drop-actions-{{groupe.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
						<li><a class="green-font" title="Éditer" href="{{ path('groupe_edit', { 'id': groupe.id }) }}"><i class="fa fa-edit"></i> Editer</a></li>
						<li><a class="red-font" title="Supprimer" href="{{ path('groupe_delete', { 'id': groupe.id }) }}"><i class="fa fa-times-circle"></i> Supprimer</a></li>
					</ul>
				</td>
			</tr>
		</a>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
