{% extends '::base.html.twig' %}
{% block title %} {{ parent() }} - Groupes {% endblock %}

{% block body %}

<div class="row">
  <h1 class="ten columns">
    Les groupes
  </h1>
  <div class="two hide-for-small columns">
    <div class="button gray large-header">
      <a href="{{ path('create_groupe') }}">Créer un groupe</a>
    </div>
  </div>
</div>

<table class="records_list datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Nombre de personnages</th>
      <th>Nombre d'intrigues</th>
      <th>Nombre d'évènements</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for groupe in groupes %}
      <tr>
        <td><a href="{{ path('groupe_by_id', { 'id': groupe.id }) }}">{{ groupe.name }}</a></td>
        <td>{% autoescape false %}{{ groupe.description|slice(0, 60) }}[...]{% endautoescape %}</td>
        <td>{{ groupe.members|length }}</td>
        <td>{{ groupe.intrigues|length }}</td>
        <td>{{ groupe.events|length }}</td>
        <td>
          <ul class="button-group even two-up">
            <li>
              <div class="button green">
                <a href="{{ path('groupe_edit', { 'id': groupe.id }) }}"><i class="icon-pencil"></i></a>
              </div>
            </li>
            <li>
              <div class="button red">
                <a href="{{ path('groupe_delete', { 'id': groupe.id }) }}"><i class="icon-remove-sign"></i></a>
              </div>
            </li>
          </ul>
        </td>
      </tr>
    </a>
  {% endfor %}
  </tbody>
</table>

{% endblock body %}
