{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Création groupe{% endblock %}

{% block body %}
<h1>Créer un nouveau groupe</h1>

<form action="{{ path('create_groupe') }}" method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						{{ form_row(form.writer)}}
					</div>
					<div class="small-12 medium-6 columns">
						{{ form_row(form.name) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Les détails</h3>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						{{ form_row(form.description) }}
					</div>
					<div class="small-12 medium-6 columns">
						{{ form_label(form.particularity)}} <i class="fa fa-question-circle" title="Les particularités du groupe : signe de reconnaissance, rites d'accession par exemple"></i>
						{{ form_errors(form.particularity)}}
						{{ form_widget(form.particularity)}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Les relations</h3>
				</div>
				<div class="row">
					<div class="twelve columns">
						{{ form_row(form.members) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	<input class="button flat green" type="submit" value="Créer"/>
</form>

{% endblock %}
