{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Édition de {{type.name}} {% endblock %}

{% block body %}

<h1>Éditer le type "{{type.name}}"</h1>

<form action="{{ path('relation_type_update', { 'id': type.id }) }}" method="post" {{ form_enctype(form) }}>
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">La base</h3>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{ form_row(form.name)}}
					</div>
					<div class="small-12 columns">
						{{ form_row(form.description) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	<button class="button green" type="submit"><i class="fa fa-save"></i> Éditer</button>
</form>

<form id="revert" action="{{ path('relation_type_revert', { 'id': type.id }) }}" method="post" {{ form_enctype(form) }}>
	<!-- Historique -->
	<div class="row">
		<div class="small-12 columns">
			<div class="card">
				<div class="header row">
					<h3 class="small-12 columns">Historique</h3>
				</div>
				<div class="row">
					<div class="small-12 columns">
						Revenir à la version du :
						<select name="version">
							{% for log in logs %}
									<option value="{{log.version}}">{{log.loggedAt.date|date("d/m/Y H:i")}}</option>}
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
 	<button class="button gray" type="submit"><i class="fa fa-history"></i> Restaurer</button>
</form>

{% endblock %}
