{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - Types de Relation {% endblock %}

{% block body %}

<div class="row">
  <h1 class="ten columns">
    Les types de relation
  </h1>
  <div class="two hide-for-small columns">
    <div class="button gray large-header">
      <a href="{{ path('create_relation_type') }}">Créer un type</a>
    </div>
  </div>
</div>


<table class="records_list datatable">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Nombre de relations</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for type in types %}
      <tr>
        <td><a title="Voir" href="{{ path('relation_type_by_id', { 'id': type.id }) }}">{{ type.name }}</a></td>
        <td>{% autoescape false %}{{ type.description|slice(0,60) }}{% endautoescape %}</td>
        <td>{{ type.relations|length }}</td>
        <td>
          <ul class="button-group even two-up">
            <li>
              <div class="button green">
                <a title="Éditer" href="{{ path('relation_type_edit', { 'id': type.id }) }}"><i class="icon-pencil"></i></a>
              </div>
            </li>
            <li>
              <div class="button red">
                <a title="Supprimer" href="{{ path('relation_type_delete', { 'id': type.id }) }}"><i class="icon-remove-sign"></i></a>
              </div>
            </li>
          </ul>
        </td>
      </tr>
    </a>
  {% endfor %}
  </tbody>
</table>

{% endblock body %}
