{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} - {{ type.name}} {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-6 medium-9 columns">
		{{ type.name }}
	</h1>
	<div class="small-6 medium-3 columns">
		<a class="button flat green"  href="{{ path('relation_type_edit', {'id': type.id}) }}">Modifier</a>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-6 medium-8 columns">
					Description
				</h3>
			</div>
			{% autoescape false %}
				<div>{{type.description}}</div>
			{% endautoescape %}
		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<div id="description" class="card">
			<div class="header row">
				<h3 class="small-12 columns">Liste des relations <small>({{type.relations|length}} relations)</small></h3>
			</div>
			<table class="records_list datatable">
				<thead>
					<tr>
						<th>Personnage connaissant</th>
						<th>Personnage connu</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for relation in type.relations %}
					<tr>
						<td><a title="Voir" href="{{ path('perso_by_id', { 'id': relation.knower.id }) }}">{{ relation.knower.name }}</a></td>
						<td><a title="Voir" href="{{ path('perso_by_id', { 'id': relation.knowee.id }) }}">{{ relation.knowee.name }}</a></td>
						<td>
							<button href="#" data-dropdown="drop-actions-{{relation.id}}" aria-controls="drop-actions-{{relation.id}}" aria-expanded="false" class="button dropdown orange">Actions</button><br>
							<ul id="drop-actions-{{relation.id}}" data-dropdown-content class="f-dropdown" aria-hidden="true">
								<li><a class="gray-font" title="Détails" href="{{ path('relation_by_id', { 'id': relation.id }) }}"><i class="fa fa-eye"></i> Détails</a></li>
								<li><a class="green-font" title="Éditer" href="{{ path('relation_edit', { 'id': relation.id }) }}"><i class="fa fa-edit"></i> Éditer</a></li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock body %}