{% extends '::base.html.twig' %}
{% block title %} {{ parent() }} - Compétences {% endblock %}

{% block body %}

<div class="row page-header">
	<h1 class="small-12 medium-9 columns">
		Les compétences
	</h1>
	<div class="medium-3 hide-for-small columns">
		<a class="button blue flat" href="{{ path('create_skill') }}">Créer une compétence</a>
	</div>
</div>

<table class="records_list datatable">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Point(s) de création</th>
			<th>Nombre de personnage</th>
			<th>Nombre d'intrigues</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for skill in skills %}
		<tr>
			<td><a href="{{ path('skill_by_id', { 'id': skill.id }) }}">{{ skill.name }}</a></td>
			<td>{% autoescape false %}{{ skill.description|slice(0, 60) }}[...]{% endautoescape %}</td>
			<td>{{ skill.creationPoint }}</td>
			<td>{{ skill.players|length }}</td>
			<td>{{ skill.intrigues|length }}</td>
			<td>
				<ul class="button-group">
					<li><a class="button flat green" title="Editer" href="{{ path('skill_edit', { 'id': skill.id }) }}"><i class="fa fa-edit"></i></a></li>
					<li><a class="button flat red" title="Supprimer" href="{{ path('skill_delete', { 'id': skill.id }) }}"><i class="fa fa-times-circle"></i></a></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
